.cart-oceans {
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 350px 0;
    &-container {
        display: flex;
        justify-content: center;
    }

    &-content {
        flex: 1;
    }

}



.rofilcontaineropinienion {
    border: 1px solid rgba(255,255,255,.2);
}
.miniSlider {
    min-width: 950px;
    min-height: 650px;
}
.bg-gray {
    background-color: rgba(133,133,133,.1);
}
div.activeCart {
    width: 415px;
    min-height: 450px;
}
div.activeCart div.slideClass {
    width: 415px;
    height: 296px;
}
div.activeCart div.content{
    width: 415px;
}

div.activeCart div.slideClass img{
    width: 415px;
    height: 296px;
}
div.content {
    width: 350px;
    flex: 1;
}
div.slideClass {
    width: 350px;
    height: 250px;
    overflow: hidden;
}
