// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Custom elements
$border-color-gray: rgba(255,255,255,.2);
$custom-gray-backGround: rgba(133,133,133,.1);
$bg-menu: #212529;
$border-color-menu: rgba(255, 255, 255, 0.4);
