.menu {
    &-content {
        flex: 1;
        @media only screen and (max-width: 767px) {
            display: flex !important;
            position: fixed;
            z-index: 90;
            min-width: 100%;
            background-color: $bg-menu;
            flex-direction: column;
            justify-content: flex-start;
            padding-bottom: 15px;
        }
        & ul {
            @media only screen and (max-width: 767px) {
                min-width: 100%;
            }
        }
    }
}
